<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestion des Produits</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#"> Gestion des Produits</a>

	</nav>
	<div class="container">

		<div class="row">

			<h1>Listes des produits</h1>
		</div>
		<div class="col">
			<div class="col-lg-3">
			<div class=" paneL-body">
				<form th :action="@{/api/produits}" methode="GET">
					<label> Mot clé</label> 
					<input type="text" name="motCle">
					<button type="submit" class="btn btn-primary btn-sm mb-3">Chercher</button>
				</form>
				</div>

			</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<a th:href="@{/api/produits/new}"
						class="btn btn-primary btn-sm mb-3"> Ajouter un Produit</a>
				</div>
			</div>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>

						<th scope="col">Nom de produit</th>
						<th scope="col">Fiche de produit</th>
						<th scope="col">Quantité de produit</th>
						<th scope="col">Action</th>
					</tr>
				</thead>


				<tbody>
					<tr th:each="produit: ${produits}">
						<td th:text="${produit.nom}"></td>
						<td th:text="${produit.fiche}"></td>
						<td th:text="${produit.quantite}"></td>
						<td><a th:href="@{/api/produits/edit/{id}(id=${produit.id})}"
							class="btn btn-primary"> Mettre à jour</a> <a
							onclick="return confirm('Etes vous sûre?')"
							th:href="@{/api/produits/{id}(id=${produit.id})}"
							class="btn btn-danger"> Supprime </a></td>

					</tr>
				</tbody>
			</table>

			<ul class="nav  nav-pills">
				<li th:class="${currentPage== status.index}?'active':''"
					th:each="p,status:${pages}"><a
					th:href="@{/api/produits(page=${status.index})}"
					th:text="${status.index}"> </a> <br></li>
			</ul>
		</div>
</body>
</html>